@model Epione.Models.ParcoursModel

@{
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Suppression Parcours</title>

    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/Content/css/animate.css" rel="stylesheet">
    <link href="~/Content/css/style.css" rel="stylesheet">
</head>
<body>
    @using (Html.BeginForm("Delete", "Parcours", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div>
            <h4>Suppression Rendez-vous</h4>
            <hr />



            <div class="middle-box text-center animated fadeInDown">
                <h1>Attention</h1>
                <h3 class="font-bold"> Êtes-vous sûr de vouloir supprimer cet rendez-vous ?</h3>

                <div class="error-desc">
                    Cliquez ici pour le supprimer<br />
                    <input type="submit" value="Supprimer" class="btn btn-primary m-t" />
                </div>
            </div>





            <dl class="dl-horizontal">

                <dt>
                    @Html.HiddenFor(model => model.idPatient)
                </dt>

            </dl>
        </div>
    }
</body>
</html>
