

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>date</title>
</head>






<body>
 




        @using (Html.BeginForm("date", "Medecin", FormMethod.Post))
        {

            <table >
                <tr>
                    <td>
                        <input id="date1" type="datetime" name="DateDeb" placeholder="debut"   style=" width: 100%;
    padding: 12px 80px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;" />
                    </td>
                </tr>

                <tr>
                    <td>
                        <input id="date2" type="datetime" name="DateFin" placeholder="fin" style=" width: 100%;
    padding: 12px 80px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;" 
                               />
                    </td>
                </tr>
    
                
                @{


                    var emp = ViewData["id"];//retrive Data from ViewData or ViewBag
                }







                            <input  name="id1" type="hidden" value= @emp  >

                <tr>
                    <td>
                        <button type="submit" value="submit" class="btn btn-primary">save</button>
                    </td>
                </tr>


                <tr>

                    <td>
                        <strong><p id="p2">le couleur indique l état</p></strong>
                    </td>

                </tr>

            </table>
        }






    <script type="text/javascript">

	function date() {
		// body...
var date11 = document.getElementById("date1").value ;


var date12 = document.getElementById("date2").value ;


if(date11<=date12)
{

	document.getElementById("p2").style.color = "green";

}



if(date11>date12)
{

	document.getElementById("p2").style.color = "red";
}

	}



    </script>

</body>
</html>
