@model IEnumerable<Domain.PlusMed>

    
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}




<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />


</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
          
            <th>
                IDMED
            </th>
            <th>
                Specialité
            </th>
            <th>
               Hopitale
            </th>
            <th>
                Image
            </th>
            <th></th>
        </tr>
    
        @{


            var emp = (Domain.PlusMed)ViewData["plus"];//retrive Data from ViewData or ViewBag
        }






        <tr>
            <td>
                @emp.IDMed
            </td>
            <td>
                @emp.Hopital
            </td>
            <td>
                @emp.specialieProfondu
            </td>
        </tr>
    }
    
    </table>



</body>
</html>
